@import '@/assets/scss/variables';
@import '@/assets/scss/mixins';
@import '@/assets/fonts/font.sass';

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: $color--bg;
  background-attachment: fixed;
  background-image: url(../img/bg.png);

  direction: rtl;
  color: $color--text;
  font-family: $font--default;
}

a {
  color: $color--link;

  transition: .5s color;

  &:hover {
    color: darken($color--link, 10%);
  }

}

::placeholder {
  color: $color--text;
}

.container {
  width: 100%;
  max-width: 1738px;

  margin-left: auto;
  margin-right: auto;

  padding-left: 10px;
  padding-right: 10px;

  @include screen('sm') {
    padding-left: 15px;
    padding-right: 15px;
  }
  
}

.loading-wrapper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.p-checkbox {
  .p-checkbox-box {
    &.p-highlight {
      background-color: darken($color--success, 15%);
    }
  }

  &:not(.p-checkbox-disabled) {
    .p-checkbox-box {
      &.p-highlight {
        &:hover {
          background-color: darken($color--success, 20%);
        }
      }
    }
  }
}

.p-multiselect {
  width: 100%;

  padding: 7px 15px;

  border-radius: 30px;

  & &-panel &-items &-item {

    &:focus {
      box-shadow: none;
    }

    .p-checkbox {
      margin-right: 0;
      margin-left: .5rem;
    }

    &.p-highlight {
      background-color: $color--success;

      color: white;
    }
  }
  
  & &-panel &-header {
    .p-checkbox {
      margin-right: 0;
      margin-left: .5rem;
    }
  }

  .p-multiselect-label,
  .p-multiselect-trigger,
  .p-multiselect-label.p-placeholder {
    padding: 0;
    
    color: $color--text;
  }
  
  &--success:not(.p-disabled),
  &--success:not(.p-disabled).p-focus {
    border-color: $color--success;
  }

  &--success:not(&--outlined) {
    background-color: $color--success;

    .p-multiselect-label,
    .p-multiselect-trigger,
    .p-multiselect-label.p-placeholder {
      color: white;
    }
  }

}

.p-dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  width: 100%;

  padding: 7px 15px;

  outline: none;
  border-radius: 30px;
  
  & &-label,
  & &-label.p-placeholder {
    padding: 0;

    font-size: 18px;
    color: $color--text;
  }

  & &-trigger {
    width: 17px;
    height: 10px;

    margin-right: 10px;

    color: darken($color--text, 5%);
  }

  &-panel {
    .p-dropdown-items {
      .p-dropdown-item.p-highlight {
        background-color: $color--primary;

        color: white;
      }
    }
  }
  &--success {
    border-color: $color--success;

    .p-dropdown-panel {
      .p-dropdown-items {
        .p-dropdown-item.p-highlight {
          background-color: $color--success;

          color: white;
        }
      }
    }
  }

  &--success:not(&--outlined) {
    background-color: $color--success;

    .p-dropdown-label,
    .p-dropdown-trigger,
    .p-dropdown-label.p-placeholder {
      color: white;
    }
  }

  &--simple {
    border: none;
    outline: none;
    box-shadow: none !important;
    background-color: transparent;

    .p-dropdown-label {
      font-size: 30px;
      color: darken($color--primary, 15%);
    }
    
  }

}

.p-calendar,
.p-float-label {
  width: 100%;

  border-radius: 10px;

  label {
    left: auto;
    right: 20px;

    color: $color--text;
  }

  input {
    width: 100%;

    border-radius: 30px;

    padding: 10px 20px;

    &::placeholder {
      font-size: 18px;
      font-weight: normal;
      font-family: inherit;
    }

    &:not(:focus) + label {
      font-size: 18px;
    }

  }

}

.p-calendar {
  &.p-calendar-w-btn {
    input {
      padding-left: 40px;

      border-radius: 30px;
    }
  }
}

.p-sidebar-close {
  display: none !important;
}

.p-sidebar-mask.p-component-overlay {
  display: none;
}

@each $name, $color in $COLORS {
  .p-button.p-button-#{$name} {
    border-color: $color;
    background-color: $color;

    @include dynamicColor($color);

    &:enabled:hover {
      border-color: darken($color, 5%);
      background-color: darken($color, 5%);

      @include dynamicColor(darken($color, 5%));
    }

    &:enabled:focus {
      box-shadow: 0 0 0 .2rem rgba($color, 0.3);
    }

    &:enabled:active {
      border-color: darken($color, 10%);
      background-color: darken($color, 10%);

      @include dynamicColor(darken($color, 10%));
    }
  }
}

.p-datepicker-prev,
.p-datepicker-next {
  transform: rotate(180deg);
}

.p-datepicker-group:not(:last-child) {
  border-right: none !important;
  border-left: 1px solid $color--border;
}

.p-inputtext,
.p-component {
  font-family: $font--default;
}

.p-scrollpanel {
  &-content {
    width: 100% !important;
    
    padding: 0 !important;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  & &-bar {
    &-y {
      right: calc(100% - 9px) !important;

      background-color: $color--border;
    }
  }
  
}