@mixin screen($screen) {
  @media screen and (min-width: map-get($SCREENS, $screen)) {
    @content
  }
}

@mixin dynamicColor($color, $factor: 50) {
  @if (lightness($color) > $factor) {
    color: black
  }  @else {
    color: white
  }
}