$color--bg: #e8e8e8;
$color--text: #5e5858;
$color--link: #6e920b;
$color--icon: #759f00;
$color--danger: #df5959;
$color--border: #a5a5a5;
$color--success: #9ac622;
$color--primary: #66a2cf;
$color--warning: #feba00;
$color--secondary: #efefef;
$color--bg-overlay: #f1f9ff;

$COLORS: (
  'light': $color--bg,
  'dark': $color--text,
  'danger': $color--danger,
  'success': $color--success,
  'primary': $color--primary,
  'warning': $color--warning,
  'secondary': $color--secondary
);

$SCREENS: (xxl: 1738px, xl: 1200px, lg: 992px, md: 768px, sm: 576px, xs: 420px);

$shadow--overlay: 8px 3px 6px 0 rgba(0, 0, 0, 0.16);

$font--default: "OpenSansHebrew";