<template>
  <span class="col-confirmation-wrapper">
    <span v-if="result">
      {{ result }}
    </span>
    <span v-else
          class="p-d-inline-flex p-ai-center">
      <c-icon v-if="$props.icon"
              
              name="done"
              color="success"
            />
      <a href="#" @click.prevent="confirmationHandle">
        {{ confirmText }}
      </a>
    </span>
  </span>
</template>

<script>

import { ref } from 'vue'
import dateformat from 'dateformat'

import CIcon from '@/components/c-icon'

export default {
  props: ['value', 'icon'],
  components: {
    CIcon
  },
  setup(props) {
    const { value } = props

    const result = ref((() => {
      const date = value.date

      if (date)
        if (date.confirmation)
          return dateformat(date.confirmation, "dd/mm/yyyy")

      return null
    })())

    const confirmText = "לחץ לאישור";

    const confirmationHandle = () => {
      result.value = dateformat(new Date(), "dd/mm/yyyy")
    }

    return {
      result,
      confirmText,

      confirmationHandle,
    }  
  }
}

</script>

<style scoped lang="scss">

  .col-confirmation-wrapper {

    a {
      color: black;
    }

    svg {
      width: 18px;
      height: 18px;

      margin-left: 5px;
    }

  }

</style>
