<template>
  <div class="col-details-wrapper">
    <a  href="#"
        class="p-d-inline-flex p-ai-center"
        
        @click.prevent="clickHandler">
      <c-icon :name="icon"
              :color="color"
            />
      <span>{{ text }}</span>
    </a>
  </div>
</template>

<script>

import { computed } from 'vue'
import { useStore } from 'vuex'

import CIcon from '@/components/c-icon'

export default {
  props: ['value'],
  components: {
    CIcon
  },
  setup (props) {
    const $store = useStore()
    
    const { id } = props.value
    const isSelected = computed(() => {
      if (!id) return false

      return $store.getters['task/getId'] === id
    })
    
    const color = 'success'
    const icon = computed(() => !isSelected.value ? 'eye': 'cancel')
    const text = computed(() => !isSelected.value ? 'פרטים' : 'סגור')

    const clickHandler = () => {
      $store.dispatch('task/selectTask', id)
    }

    return {
      icon,
      text,
      color,
      clickHandler
    }
  }
}

</script>

<style scoped lang="scss">

  .col-details-wrapper {

    a {
      color: black;
      text-decoration: none;

      svg {
        width: 30px;
        height: 20px;

        margin-left: 3px;
      }

    }

  }

</style>
