<template>
  <section class="filtering">
    <div class="filters p-grid p-ai-center">
      <div class="p-col">
        <div class="p-float-label search">
          <span class="search-icon">
            <c-icon name="search" />
          </span>
          <c-input-text v-model="search"
          
                        type="text"
                        class="search-input" />
          <label for="inputgroup">חיפוש חופשי</label>
        </div>
      </div>
      <div class="p-col-12 p-sm-6 p-xl-2">
        <c-calendar v-model="date"
                    class="calendar"
                    :numberOfMonths="2"
                    selectionMode="range"
                    dateFormat="dd/mm/yy"
                    :showIcon="true"
                    icon="pi pi-chevron-down"
                    placeholder="בחר טווח תאריכים"
                  />
      </div>
      <div class="p-col-12 p-sm-6 p-xl-2">
        <c-multi-select v-model="statusesValue"
                        v-bind="statuses"

                        class="p-multiselect--success p-multiselect--outlined"
                      />
      </div>
      <div class="p-col-12 p-sm-6 p-xl-2">
        <c-multi-select v-model="processesValue"
                        v-bind="processes"

                        class="p-multiselect--success p-multiselect--outlined"
                      />
      </div>
      <div class="p-col-fixed">
        <c-button icon="pi pi-times"
                  class="p-button-success p-button-rounded p-button-clear"

                  @click.prevent="$store.dispatch('filter/clear')"
                />
      </div>
    </div>
    <c-block  heading="התוצאות "
              :count="result.length"
              :collapsed="false">
      <c-table :table="{
        rows: result,
        columns: filteringColumns,
      }" />
    </c-block>
  </section>
</template>

<script>

import { useStore } from 'vuex'
import { computed, watch } from 'vue'

import CButton from 'primevue/button'
import CCalendar from 'primevue/calendar'
import CInputText from 'primevue/inputtext'
import CMultiSelect from 'primevue/multiselect'

import { filteringColumns } from '@/configs/tables'

import CIcon from '@/components/c-icon'
import CTable from '@/components/c-table'
import CBlock from '@/components/c-block'

export default {
  components: {
    CIcon,
    CTable,
    CBlock,
    CButton,
    CCalendar,
    CInputText,
    CMultiSelect,
  },
  setup () {
    const $store = useStore()

    const date = computed({
      get: () => $store.getters['filter/getDate'],
      set: value => $store.commit('filter/setDate', value)
    })
    const search = computed({
      get: () => $store.getters['filter/getSearch'],
      set: value => $store.commit('filter/setSearch', value)
    })

    const status = computed(() => $store.getters['filter/getStatus'])
    const process = computed(() => $store.getters['filter/getProcess'])

    const statusesValue = computed({
      get: () => status.value,
      set: value => $store.commit('filter/setStatus', value)
    })
    const statuses = computed(() => {
      const items = $store.getters['getStatuses']
              
      return {
        options: Object.keys(items).map(item => ({
            value: item,
            label: items[item]
          })
        ),
        placeholder: "בחר ססוסים",
        optionValue: "value",
        optionLabel: "label",
      }
    })

    const projectId = computed(() => $store.getters['project/getId'])

    const processesValue = computed({
      get: () => process.value,
      set: value => $store.commit('filter/setProcess', value),
    })
    const processes = computed(() => {
      const items = $store.getters['project/getProcesses']()

      return {
        options: items.map(item => ({
            value: item.id,
            label: item.name
          })
        ),
        placeholder: "בחר תהליכים",
        optionValue: "value",
        optionLabel: "label",
      }
    })

    watch(projectId, () => {
      processesValue.value = []
    })


    const result = computed(() => {
      const query = {}

      if (status.value.length)
        query.status = {
          compare: '|',
          values: status.value,
        }
      
      if (process.value.length)
        query.processId = {
          compare: '|',
          values: process.value,
        }

      if (search.value)
        query.like = search.value

      if (date.value)
        if (date.value[0] !== null && date.value[1] !== null)
          query['date.complation'] = date.value

      const result = Object.keys(query).length ? $store.getters['project/getFilter'](query) : []
      console.log(result)
      return result
    })

    return {
      date,
      search,
      result,

      statuses,
      statusesValue,

      processes,
      processesValue,

      filteringColumns,
    }
  }
}

</script>

<style scoped lang="scss">
  
  .filters {
    display: flex;

    margin-bottom: 20px;

    .search {
      position: relative;

      &-icon {
        top: 0;
        left: 0;
        position: absolute;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 43px;
        height: 43px;
        
        border-radius: 43px;
        background-color: $color--success;

        svg {
          margin-top: 5px;
          margin-left: 5px;

          color: white;
        }
      }

      &-input {
        padding-left: 50px;

        border-color: $color--success;
      }

    }

    ::v-deep(.p-calendar) {
      input {
        border-color: $color--success;
      }

      .p-datepicker-trigger {
        top: 50%;
        left: 15px;
        position: absolute;
        transform: translateY(-50%);

        width: max-content;
        
        border: none;
        box-shadow: none;
        background-color: transparent;

        color: $color--text;
      }

    }

    ::v-deep(.p-multiselect-label-container) {
      line-height: 28px;
    }

    ::v-deep(.p-button-clear) {
      width: 44px;
      height: 44px;

      .pi {
        font-size: 20px;
      }
    }

  }
  
</style>
