<template>
  <section class="home">
    <c-block  v-for="(datum, index) in data"

              :icon="datum.icon"
              :heading="datum.title"
              :count="datum.table.rows.length"
              :key="`${projectId}.${index}.${datum.table.name}`">
      <c-table :table="datum.table" />
    </c-block>
  </section>
</template>

<script>

import { computed } from "vue"
import { useStore } from "vuex"

import tables from '@/configs/tables'

import CTable from '@/components/c-table'
import CBlock from '@/components/c-block'

export default {
  components: {
    CBlock,
    CTable
  },
  setup () {
    const $store = useStore()
    const projectId = computed(() => $store.getters['project/getId'])

    const data = computed(() => [
      {
        name: 'complated',
        title: 'משימות שהסתיימו החודש',
        icon: {
          name: 'done',
          color: 'success'
        },
        table: {
          columns: tables.complated,
          rows: $store.getters["project/getTasks"]({
            status: 'completed',
          }),
        },
      },
      {
        name: 'pending',
        title: 'משימות ממתינות לאישור ביצוע',
        icon: {
          name: 'time',
          color: 'danger'
        },
        table: {
          columns: tables.awaitExecution,
          rows: $store.getters["project/getTasks"]({
            status: 'pending',
          }),
        },
      },
      {
        name: 'during',
        title: 'משימות בעבודה',
        icon: {
          name: 'settings',
          color: 'warning'
        },
        table: {
          columns: tables.atWork,
          rows: $store.getters["project/getTasks"]({
            status: 'during',
          }),
        },
      },
      {
        name: 'unfinished',
        title: 'משימות ממתינות לאישור קבלה',
        icon: {
          name: 'hand',
          color: 'danger'
        },
        table: {
          columns: tables.awaitAcceptance,
          rows: $store.getters["project/getTasks"]({
            status: 'unfinished',
          }),
        },
      },
    ])

    return {
      data,
      projectId
    }
  }
}
</script>
