<template>
  <section class="processes">
    <c-block  v-for="(datum, index) in data"

              :key="`${datum.id}.${index}`"
              :icon="datum.icon"
              :heading="datum.title"
              :count="datum.table.rows.length">
      <c-table  :table="datum.table" />
    </c-block>
  </section>
</template>

<script>

import { computed } from 'vue'
import { useStore } from 'vuex'

import CBlock from '@/components/c-block'
import CTable from '@/components/c-table'

import { procesColumns } from '@/configs/tables'

export default {
  components: {
    CBlock,
    CTable
  },
  setup () {
    const $store = useStore()
  
    const data = computed(() => {
      const result = []
      const processes = $store.getters['project/getProcesses']()

      if (processes)
          processes.forEach(proces => {
            result.push({
              id: proces.id,
              title: proces.name,
              table: {
                columns: procesColumns,
                rows: proces.tasks
              },
            })
          })

      return result
    })

    return {
      data,
    }
  }
}

</script>
