<template>
  <c-dialog v-model:visible="visible"
    :modal="true"
    :closeOnEscape="true"
    :dismissableMask="true"
    :rtl="true"
    >
      <template #header>
        <h4>הוספת משימה חדשה</h4>
        <a href="#"
            @click.prevent="$store.dispatch('toggleAddTaskVisible', false)">
          <c-icon name="cancel" />
        </a>
      </template>

      <c-scroll-panel style="max-height: 100%">
        <div class="p-fluid">
          <div class="p-field">
            <label for="task-name">שם המשימה</label>
            <c-text-area id="task-name" rows="3" />
          </div>
          <div class="p-field">
            <label for="process-name">שם תהליך</label>
            <c-dropdown v-model="process"
                        :options="processes"
                        optionValue="id"
                        optionLabel="name"
                      />
          </div>
          <div class="p-field">
            <label for="customer-reference">סימוכין לקוח</label>
            <c-input-text id="customer-reference" type="text" />
          </div>
          <div class="p-field">
            <label for="characterization">אפיון</label>
            <c-text-area rows="6" id="characterization" />
          </div>
          <div class="p-field p-pt-4">
            <c-task-attachments :attachments="attachments" />
          </div>
          <div class="p-field p-pt-4">
            <c-task-notes :notes="notes" />
          </div>
        </div>
      </c-scroll-panel>

      <template #footer>
        <div class="p-text-center">
          <c-button label="אישור" class="p-button-success p-button-rounded" />
          <c-button label="ביטול" class="p-button-success p-button-rounded" />
        </div>
      </template>
  </c-dialog>
</template>

<script>

import { computed, ref } from 'vue'
import { useStore } from 'vuex'

import CDialog from 'primevue/dialog'
import CButton from 'primevue/button'
import CTextArea from 'primevue/textarea'
import CDropdown from 'primevue/dropdown'
import CInputText from 'primevue/inputtext'
import CScrollPanel from 'primevue/scrollpanel'

import CIcon from '@/components/c-icon'
import CTaskNotes from '@/components/c-task-notes'
import CTaskAttachments from '@/components/c-task-attachments.vue'

export default {
  components: {
    CDialog,
    CButton,
    CDropdown,
    CTextArea,
    CInputText,
    CScrollPanel,

    CIcon,
    CTaskNotes,
    CTaskAttachments,
  },
  setup() {
    const $store = useStore()

    const visible = ref($store.getters['getAddTaskVisible'])

    $store.subscribe((mutation, state) => {
      if (mutation.type === 'setAddTaskVisible')
        visible.value = state.addTaskVisible
    })

    return {
      visible,
      process: ref(null),
      attachments: computed(() => $store.getters['task/getAttachments']),
      processes: computed(() => $store.getters['project/getProcesses']()),
      notes: computed(() => [...$store.getters['task/getNotes']].slice(0, 2)),
    }
  }
}

</script>

<style lang="scss" scoped>

  .p-fluid {
    padding-left: 5px;
    padding-right: 5px;
  }

  .p-field {

    label {
      font-size: 16px;
      color: $color--text;
    }

    .p-dropdown,
    .p-inputtext {
      border-color: lighten($color--primary, 20%);
    }

    textarea {
      resize: none;
    }

  }

  ::v-deep(.p-scrollpanel) {

    .p-scrollpanel-bar.p-scrollpanel-bar-y {
      right: calc(100% + 4px) !important;
    }
  }

  ::v-deep(.p-dialog) {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 660px;

    border: none;
    background-color: $color--bg-overlay;

    .p-dialog-header {
      padding: 15px 20px;

      background-color: transparent;
      border-bottom: 2px solid $color--success;

      h4 {
        margin: 0;

        font-size: 18px;
        color: $color--primary;
      }

      .svg {
        width: 18px;
        height: 18px;

        color: $color--success;
      }

    }

    .p-dialog-header-icons {
      display: none;
    }

    .p-dialog-content {
      flex: 1;

      padding-top: 0;
      padding-bottom: 0;

      background-color: transparent;

      .p-fluid {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }

    }

    .p-dialog-footer {
      padding: 15px 20px;

      border: none;
      background-color: transparent;

      .p-button {
        min-width: 116px;
      }

    }

  }

  ::v-deep(.task-client-attachments) {
    caption {
      label {
        font-weight: bold;
      }
    }
  }

  ::v-deep(.task-notes) {
    label {
      font-weight: bold;
    }
  }

</style>