<template>
  <c-sidebar  v-model:visible="visible"
              position="left"
              class="sidebar p-sidebar-md">
    <div class="sidebar-header">
      <div class="p-d-flex p-ai-center p-jc-between">
        <div class="task-id">
          מספר המשימה
          {{ task.id }}
        </div>
        <a  href="#"
            class="sidebar-close"
            
            @click.prevent="closeHandler">
          <c-icon name="cancel" />
        </a>
      </div>
    </div>
    <c-scroll-panel style="width: 100%; height: calc(100vh - 135px)"
                    class="sidebar--scrollpanel">
      <div class="sidebar-container task-sign">
        <h2 class="task-name">
          {{ task.subject }}
        </h2>
        <div class="task-process">
          <label class="has-colons">תהליך</label>
          <span>{{ processName }}</span>
        </div>
      </div>
      <section class="sidebar-container no-x-gutters">
        <div class="task-dates p-grid">
          <time class="p-d-flex p-flex-column p-col-4 ">
            <label>תאריך יצירה</label>
            <span>{{ dateformat(task.date.start, "dd/mm/yyyy") }}</span>
          </time>
          <time class="p-d-flex p-flex-column p-col-4 ">
            <label>תאריך אישור לביצוע</label>
            <span>{{ dateformat(task.date.allegedEnd, "dd/mm/yyyy") }}</span>
          </time>
          <time class="p-d-flex p-flex-column p-col-4 ">
            <label>תאריך מסירה משוער</label>
            <span>{{ dateformat(task.date.actualEnd, "dd/mm/yyyy") }}</span>
          </time>
          <time class="p-d-flex p-flex-column p-col-4 ">
            <label>הערכת שעות אייפוינט</label>
            <span>{{ dateformat(task.estimatingHours, "dd/mm/yyyy") }}</span>
          </time>
          <time class="p-d-flex p-flex-column p-col-4 ">
            <label>סטטוס משימה</label>
            <span>{{ taskStatus }}</span>
          </time>
          <time class="p-d-flex p-flex-column p-col-4 ">
            <label>נפתח ע"י</label>
            <span>{{ task.creator }}</span>
          </time>
        </div>
      </section>
      <section class="sidebar-container">
        <div class="task-client">
          <div class="task-client-url p-d-flex p-flex-column">
            <label>סימוכין לקוח</label>
            <a :href="`#client-url-${task.client}`">{{ taskClientName }}</a>
          </div>
          <div class="task-client-comment">
            <label>אפיון</label>
            <div ref="commentRef" :class="{
              comment: true,
              expended: showAllComment,
            }">{{ task.comment }}</div>
            <a href="#" @click.prevent="toggleCommentContent">
              {{ showAllComment ? 'תקרא פחות' : 'קרא עוד' }}
            </a>
          </div>
          <c-task-attachments :attachments="task.attachments" />
        </div>
      </section>
      <section class="sidebar-container">
        <c-task-notes :notes="task.notes" />
      </section>
      <c-scroll-top target="parent"
                    :threshold="100"
                    class="scroll-top"
                    icon="pi pi-arrow-up"
                  />
    </c-scroll-panel>
    <div class="p-d-flex p-jc-end sidebar-container sidebar-footer">
      <c-button label="אישור" class="p-button-success p-button-raised p-button-rounded" />
      <c-button label="ביטול" class="p-button-success p-button-raised p-button-rounded" />
    </div>
  </c-sidebar>
</template>

<script>

import { useStore } from 'vuex'
import { useRouter } from 'vue-router'
import { computed, ref } from 'vue'

import CButton from 'primevue/button'
import CSidebar from 'primevue/sidebar'
import CScrollTop from 'primevue/scrolltop'
import CScrollPanel from 'primevue/scrollpanel'

import dateformat from 'dateformat'

import CIcon from '@/components/c-icon'
import CTaskNotes from '@/components/c-task-notes'
import CTaskAttachments from '@/components/c-task-attachments.vue'

export default {
  components: {
    CButton,
    CSidebar,
    CScrollTop,
    CScrollPanel,

    CIcon,
    CTaskNotes,
    CTaskAttachments,
  },
  setup() {
    const $store = useStore()
    const $router = useRouter()

    const commentRef = ref(null)

    const task = computed(() => $store.getters['task/getData'])
    const visible = computed(() => $store.getters['task/getVisible'])
    const taskStatus = computed(() => $store.getters['getStatusByKey'](task.value.status))
    const taskClientName = computed(() => 
      // get client name by client id -> task.value.client
      'טקסט מזהה של הלקוח'
      );
    const processName = computed(() => {
      const search = $store.getters['getProcesses']({
        id: task.value.processId
      })

      if (search.length)
        return search[0].name

      return null
    })

    const showAllComment = ref(false)

    const closeHandler = () => $store.dispatch('task/toggleHandler', false)

    const toggleCommentContent = () => {
      commentRef.value.style.maxHeight = `${commentRef.value.scrollHeight}px`

      showAllComment.value = !showAllComment.value
    }

    $router.afterEach(() => {
      if (visible)
        closeHandler()
    })

    return {
      commentRef,

      task,
      visible,
      taskStatus,
      processName,
      showAllComment,
      taskClientName,
      
      closeHandler,
      toggleCommentContent,

      dateformat,
    }
  }  
}

</script>

<style scoped lang="scss">
  .sidebar {
    padding: 0;
    
    border-right: 4px solid #c6ced4;
    background-color: $color--bg-overlay;
    box-shadow: 8px 3px 6px 0 rgba(0, 0, 0, 0.16);


    @media screen and (max-width: 1025px) {
      width: 90%;
    }

    ::v-deep(.p-scrollpanel-content) {
      padding: 0;
    }

    ::v-deep(.p-scrollpanel-bar.p-scrollpanel-bar-y) {
      background-color: $color--border;
    }

    ::v-deep(.p-scrollpanel) {
      margin-top: 15px;
    }

    .scroll-top {
      margin-top: 30px;

      background-color: $color--primary;
    }

    &-container {

      &:not(.no-y-gutters) {
        padding-top: 15px;
        padding-bottom: 15px;
      }

      &:not(.no-x-gutters) {
        padding-left: 12px;
        padding-right: 12px;
      }

    }

    &-header {
      padding: 20px 0 0 25px;
    }

    &-close {

      svg {
        width: 25px;
        height: 25px;

        color: $color--success;
      }

    }

    &-footer {

      .p-button {
        min-width: 116px;

        margin-right: 10px;
      }

    }

    label {
      align-items: center;
      display: inline-flex;

      font-weight: bold;

      &.has-colons::after {
        content: ':';

        margin: 0 10px;
      }
    }

    a {
      text-decoration: underline;
    }

    section {
      border-top: 1px solid $color--primary;
    }

    .task {

      &-sign {
        padding-top: 0;
      }

      &-id {
        padding: 5px 10px 5px 40px;

        border-radius: 30px 0 0 30px;
        background-color: $color--primary;

        color: white;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.33;
      }

      &-process {
        margin-top: 20px;
      }

      &-name {
        margin: 0;

        font-size: 24px;
        color: #5e5858;
        font-weight: bold;
        line-height: 1.38;
      }

      &-dates {
        margin-left: 0;
        margin-right: 0;

        time {
          padding: 12px;
        }

      }

      &-client {

        &-url {
          a {
            color: $color--text;
            text-decoration: none;
          }
        }

        &-comment {
          margin-top: 20px;
          margin-bottom: 20px;

          .comment {
            max-height: inherit;
            
            margin: 3px 0;
            
            overflow: hidden;

            transition: max-height .3s;

            &:not(.expended) {
              max-height: 44px !important;
            }
          }
        }

      }

    }

  }
</style>
