<template>
  <c-panel  :collapsed="collapsed"
            :class="{
              'p-panel--collapsed': !collapsed
            }">
    <template #header>
      <a  href="#"
          class="p-panel-custom-header p-d-flex p-ai-center"
          
          @click.prevent="collapsed = !collapsed">
        <div  v-if="$props.icon"
              class="icon">
          <c-icon v-bind="$props.icon" />
        </div>
        <h3 v-if="$props.heading"
            class="heading p-d-inline-flex">
          <span class="title">{{ $props.heading }}</span>
          <span class="count">({{ $props.count || 0 }})</span>
        </h3>
      </a>
    </template>
    <template #icons>
      <a  href="#"
          @click.prevent="toggle">
        <span class="pi pi-chevron-down"></span>
      </a>
    </template>
    <slot></slot>
  </c-panel>
</template>

<script>

import { ref } from 'vue'
import { useStore } from 'vuex'

import CPanel from 'primevue/panel'

import CIcon from '@/components/c-icon'

export default {
  props: {
    collapsed: {
      type: Boolean,
      default: null,
    },
    icon: Object,
    count: Number,
    heading: String,
  },
  components: {
    CIcon,
    CPanel,
  },
  setup (props) {
    const $store = useStore()
    
    const collapsed = ref(props.collapsed !== null ? 
      props.collapsed : 
        $store.getters['getExpendBlocks'])

    const toggle = () => collapsed.value = !collapsed.value

    $store.subscribe((mutation, state) => {
      if (mutation.type === 'setExpended')
        collapsed.value = state.expendBlocks
    })

    return {
      toggle,
      collapsed,
    }
  }
}

</script>

<style lang="scss">

  .p-panel {
    padding-top: 1px;

    border-top: 3px solid $color--success;

    &:not(:last-child) {
      margin-bottom: 35px;
    }

    .heading {
      margin: 0;
      padding: 0;

      color: white;
      font-size: 20px;
      font-weight: normal;
      
      .count {
        margin: 0 5px;
      }

    }

    & &-header {
      z-index: 2;
      position: relative;

      min-height: 60px;

      margin-bottom: -10px;
      padding: 0 0 0 15px;

      border: none;
      border-radius: 0 0 10px 10px;
      background-color: $color--primary;
    }

    & &-custom-header {
      flex: 1;
      
      padding: 8px 8px 8px 15px;

      text-decoration: none;

      cursor: pointer;
    }

    & &-content {
      padding-left: 0;
      padding-right: 0;

      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 45px;
      height: 45px;

      margin-left: 23px;

      border-radius: 45px;
      background-color: white;

      svg {
        max-width: 30px;
        max-height: 22px;
      }

    }

    .pi {
      color: white;

      transition: .3s transform;
    }

    &--collapsed {
      .pi {
        transform: rotate(180deg)
      }
    }

    & &-content {
      padding: 0;
      
      border: none;
      border-radius: 0 0 10px 10px;
    }

  }

</style>
