<template>
  <footer class="p-d-flex p-ai-center">
    <div class="wrapper p-d-flex p-ai-center">
      <span>Powered By</span>
      <img src="@/assets/img/logo-small.png" />
      <span>APoint</span>
    </div>
    <div class="container container--plus">
      <button class="button--plus"

              @click="$store.dispatch('toggleAddTaskVisible', true)">
        <img :src="SvgButtonPlus" />
      </button>
    </div>
  </footer>
</template>

<script>

import SvgButtonPlus from '@/assets/svg/button-plus.svg'

export default {
  setup() {
    return {
      SvgButtonPlus
    }
  }
}

</script>

<style scoped lang="scss">
  @import '@/assets/scss/mixins.scss';

  footer {
    position: relative;

    padding: 25px 0;

    .wrapper {
      direction: ltr;

      max-width: 100%;
      width: max-content;

      margin: 0 auto;
      padding: 0 15px;

      img {
        flex: 0 0 25px;

        width: 25px;
        height: 25px;

        margin: 0 5px;
      }

    }

    &::after,
    &::before {
      content: '';

      flex: 1;

      height: 1px;
      border: 1px solid darken($color--border, 21%);
      border-left: none;
      border-right: none;
    }

    span {
      color: black;
      font-size: 14px;
      line-height: 1.14;
      font-family: Arial;
    }

    .container--plus {
      right: 0;
      bottom: 10px;
      z-index: 100;
      position: fixed;
      
      width: max-content;

      @include screen('xxl') {
        right: 70px;
      };
      
    }

    .button--plus {
      width: 80px;
      height: 80px;

      margin: 0;
      padding: 0;
      margin-right: -7px;

      border: none;
      outline: none;
      background: none;

      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
      }

    }

  }
</style>
