<template>
  <header>
    <div class="container p-d-flex p-flex-wrap p-ai-center p-jc-between">
      <div>
        <c-dropdown :options="PROJECTS"
                    v-model="currentProject"
                    optionValue="id"
                    optionLabel="name"
                    class="p-dropdown--simple"
                  />
      </div>
      <div class="col--screens">
        <div class="p-d-flex p-flex-wrap p-ai-center p-jc-end">
          <c-button label="צמצם הכל"
                    class="p-button-success p-button-rounded p-ml-2"
                    
                    iconPos="left"
                    icon="pi pi-angle-double-up"

                    @click="$store.dispatch('expendBlocks', true)"
                  />
          <c-button label="הרחב הכל"
                    class="p-button-success p-button-rounded p-ml-2"
                    
                    iconPos="left"
                    icon="pi pi-angle-double-down"

                    @click="$store.dispatch('expendBlocks', false)"
                  />
          <c-dropdown :options="SCREENS"
                      v-model="currentScreen"

                      optionValue="href"
                      optionLabel="label"

                      class="p-dropdown--success has-link"
                    />
        </div>
      </div>
    </div>
  </header>
</template>

<script>

import { computed } from 'vue'
import { useStore } from 'vuex'
import { useRouter, useRoute } from 'vue-router'

import CButton from 'primevue/button'
import CDropdown from 'primevue/dropdown'

import SCREENS from '@/static/screens'

export default {
  components: {
    CButton,
    CDropdown,
  },
  setup () {
    const $store = useStore()
    const $router = useRouter()
    const $route = useRoute()

    const currentScreen = computed({
      get: () => $route.path,
      set: path => {
        $router.push({ path })
      }
    })

    const PROJECTS = computed(() => $store.getters['getProjects'])
    const currentProject = computed({
      get: () => $store.getters['project/getId'],
      set: value => $store.dispatch('project/fetchData', value)
    })
    
    return {
      SCREENS,
      PROJECTS,
      currentScreen,
      currentProject
    }
  }
}

</script>

<style scoped lang="scss">

  header {
    position: relative;

    border-top: 4px solid darken($color--primary, 15%);

    &::before {
      content: '';

      display: block;

      height: 5px;

      margin: 5px 0 50px;

      border-top-width: 2px;
      border-top-style: solid;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-color: lighten($color--border, 5%);
    }

    .col--screens {
      flex: 1;

      .p-dropdown--success {
        width: 100%;
        max-width: 318px;
      }

      .p-dropdown {
        width: 100%;
      }

      .p-button-success {
        width: 145px;
      }

    }

  }

</style>
