<template>
  <svg :class="{
    svg: true,
    'svg--icon': true,
    [`svg--${$props.color}`]: $props.color
  }">
    <use  v-if="$props.name"
          :xlink:href="`${icons}#${$props.name}`"></use>
  </svg>
</template>

<script>

import icons from '@/assets/svg/icons.svg'

export default {
  props: {
    name: String,
    color: String
  },
  setup () {
    return {
      icons
    }
  }
}

</script>

<style scoped lang="scss">
  
  .svg {
    display: inline-block;

    width: 30px;
    height: 30px;
    max-width: 100%;

    color: $color--icon;

    @each $name, $color in $COLORS {
      &--#{$name} {
        color: $color
      }
    }

  }

</style>
