<template>
  <div class="task-client-attachments">
    <table>
      <caption>
        <div class="p-d-flex p-ai-center p-jc-between">
          <label>קבצים מצורפים</label>
          <a href="#" class="task-icon task-icon-plus p-d-inline-flex p-ai-center">
            <c-icon name="plus" />
            <span>הוספת קבץ</span>
          </a>
        </div>
      </caption>
      <thead>
        <th>שם קובץ</th>
        <th>תיאור קובץ</th>
        <th>נוסף ע"י</th>
        <th>תאריך הוספה</th>
        <th class="col-trash"></th>
      </thead>
      <tbody>
        <tr v-for="(attachment, index) in attachments"
            :key="index">
          <td>
            <a :href="`#attachment-url-${attachment.filename}`">
              {{ attachment.filename }}
            </a>
          </td>
          <td>{{ attachment.description }}</td>
          <td>{{ attachment.creator }}</td>
          <td>{{ attachment.date }}</td>
          <td class="col-trash">
            <a :href="`#delete-attachment-${attachment.filename}`">
              <c-icon name="trash" />
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>

import CIcon from '@/components/c-icon'

export default {
  props: {
    attachments: {
      type: Array,
      default: [],
    }
  },
  components: {
    CIcon,
  }
  
}

</script>

<style lang="scss" scoped>
  .task-client-attachments {

    .task-icon-plus {
      line-height: 1;
      text-decoration: none;

      span {
        margin-right: 4px;
        
        color: #5e5858;
      }

      ::v-deep(.svg) {
        width: 15px;
        height: 15px;
      }
      
    }

    table {
      width: 100%;

      border-spacing: 0;

      td {
        border-bottom: 1px solid $color--border;
      }
      
      caption {
        padding: 10px 0;
        margin-bottom: 2px;

        border-bottom: 1px solid $color--border;
      }

      th {
        background-color: white;

        font-weight: normal;
        text-align: inherit;
      }

      th.col-trash,
      td.col-trash {
        width: 25px;

        padding: 2.5px;
      }

      th:not(.col-trash),
      td:not(.col-trash) {
        padding: 8px 9px;

        line-height: 1.38;
        vertical-align: middle;
      }

    }

  }
</style>