<template>
  <div class="task-notes">
    <div class="p-d-flex p-ai-center p-jc-between">
      <label class="p-d-inline-flex">
        <span>הערות</span>
        <span>({{ notes.length }})</span>
      </label>
      <a href="#" class="task-icon task-icon-plus p-d-inline-flex p-ai-center">
        <c-icon name="plus" />
        <span>הוספת הערה</span>
      </a>
    </div>
    <ul>
      <transition-group name="bounce">
        <li v-for="(note, index) in notes.slice(0, !showAllNotes ? 2 : notes.length)"
            :key="index">
          <div class="task-author p-d-inline-flex">
            <label class="task-author-name has-colons">{{ note.creator }}</label>
            <time class="task-author-date">{{ note.date }}</time>
          </div>
          <div class="task-content">{{ note.content }}</div>
        </li>
      </transition-group>
    </ul>
    <a v-if="notes.length > 2"
      
      class="toggle"
      href="#task-all-notes"
      
      @click.prevent="showAllNotes = !showAllNotes">
      {{ showAllNotes ? 'תקרא פחות' : 'קרא עוד' }}
    </a>
  </div>
</template>

<script>

import { ref } from 'vue'

import CIcon from '@/components/c-icon'

export default {
  components: {
    CIcon,
  },
  props: {
    notes: {
      type: Array,
      default: [],
    }
  },
  setup() {
    const showAllNotes = ref(false)

    return {
      showAllNotes
    }
  }
}

</script>

<style lang="scss" scoped>
  .task-notes {
    max-width: 100%;

    overflow: hidden;

    .task-icon-plus {
      line-height: 1;
      text-decoration: none;

      span {
        margin-right: 4px;
        
        color: #5e5858;
      }

      ::v-deep(.svg) {
        width: 15px;
        height: 15px;
      }
      
    }

    .toggle {
      margin-top: 10px;

      display: inline-block;
    }
    
    ul {
      padding: 0;
      margin: 10px 0 0 0;

      list-style: none;

      li {
        padding: 10px;

        background-color: white;

        .task-author-name {
          font-weight: normal;

          &::after {
            margin: 0 4px 0 8px;
          }
        }

        &:not(:last-child) {
          margin-bottom: 5px;
        }

      }
    }

    .bounce-enter-active {
      animation: bounce-in .4s;
    }

    .bounce-leave-active {
      animation: bounce-in .4s reverse;
    }

    @keyframes bounce-in {
      0% {
        transform: scale(0);
      }
      
      50% {
        transform: scale(1.05);
      }

      100% {
        transform: scale(1);
      }
    }

  }
</style>