<template>
  <c-data-table v-if="$props.table"
                :loading="loading"
                :value="$props.table.rows"
                v-bind="$props.table.config"
                :rowClass="rowClsx">
      <c-column v-for="($col, $index) of $props.table.columns"
                :key="$index"
                :headerClass="`col--${$col.field}`"
                v-bind="$col">
        <template #body="{data}">
          <c-col-details v-if="$col.field === 'details'" :value="data" />
          <c-col-confirmation v-else-if="$col.field === 'confirmation'" :value="data" />
          <span v-else>{{ sanitizedValue($col.field, data) }}</span>
        </template>
      </c-column>
    <template #empty>
      לא נמצאו נתונים.
    </template>
    <template #loading>
      הנתונים נטענים  
    </template>
  </c-data-table>
</template>

<script>

import { useStore } from 'vuex'
import { computed, reactive, ref } from 'vue'

import dateformat from 'dateformat'

import CColumn from 'primevue/column'
import CDataTable from 'primevue/datatable'

import { fetchDateField } from '@/utils'

import CColDetails from '@/components/columns/c-col-details'
import CColConfirmation from '@/components/columns/c-col-confirmation'

export default {
  components: {
    CColumn,
    CDataTable,

    CColDetails,
    CColConfirmation,
  },
  props: {
    table: {
      type: Object,
      default: ({
        rows: [],
        config: {},
        columns: []
      })
    },
  },
  setup(props) {
    const $store = useStore()

    const loading = ref(false)
    
    const rowClsx = (row) => computed(() => {
      const classnames = ['table-row']
      
      if (row.id === $store.getters['task/getId'])
        classnames.push('table-row-selected')
      
      return classnames.join(' ')
    }).value

    const convertDateFormat = (date) => {
      if (date)
        return dateformat(date, "dd/mm/yyyy")

      return ""
    }

    const sanitizedValue = (field, data) => {
      const part = fetchDateField(field)

      if (part) {
        return convertDateFormat(data.date[part])
      } else {
        switch (field) {
          case 'status':
            return $store.getters['getStatusByKey'](data.status)
          case 'projectId':
            return $store.getters['getProjectNameById'](data.projectId)
          case 'processId':
            return $store.getters['getProcessNameById'](data.processId)
          case 'charge':
            return $store.getters['getChargeByKey'](data.charge)
          default:
            return data[field]
        }
      }

    }

    return {
      rowClsx,
      loading,

      sanitizedValue,
      convertDateFormat,
    }
  }
}

</script>

<style lang="scss">
  .p-datatable {
    min-width: 768px;
    
    margin-top: -10px;

    .p-datatable-thead {
      
      tr {

        th {
          padding-top: 30px !important;
          padding-bottom: 15px !important;

          border: none;
          background-color: $color--secondary;

          color: black;
          font-size: 16px;
          line-height: 1.38;
          font-weight: normal;
          text-align: inherit;

          &:first-child {
            border-bottom-right-radius: 10px;
          }

          &:last-child {
            border-bottom-left-radius: 10px;
          }

        }

      }

    }

    .p-datatable-tbody {
      
      tr {

        &.table-row-selected {
          background-color: $color--bg-overlay;
        }
        
        td {
          border: none;

          color: black;
          font-size: 16px;
          line-height: 1.38;
          text-align: inherit;
        }

        &:not(:last-child) {
          border-bottom: 1px solid $color--border;
        }

      }

    }

    .col {
      
      &--details {
        width: 120px;
      }

      &--confirmation {
        width: 150px;
      }

      &--process {
        width: 20%;
      }
      
      &--date {
        width: 15%;
      }

      &--hours_estimation {
        width: 15%;
      }

    }

  }

</style>
