<template>
  <suspense>
    <template #default>
      <Content />
    </template>
    <template #fallback>
      <div class="loading-wrapper">
        <c-progress-spinner />
      </div>
    </template>
  </suspense>
</template>

<script>

import CProgressSpinner from 'primevue/progressspinner'

import Content from '@/Content'

export default {
  components: {
    Content,
    CProgressSpinner
  }
}

</script>
