<template>
  <c-aside />
  <c-add-task />
  <main :class="{
    main: true,
    'is-task-open': isTaskOpen
  }">
    <c-header />
    <div class="content container">
      <router-view />
    </div>
    <c-footer />
    <c-scroll-top :threshold="100"
                  class="scroll-top"
                  icon="pi pi-arrow-up"
                />
  </main>
</template>

<script>

import { computed } from 'vue'
import { useStore } from 'vuex'

import CScrollTop from 'primevue/scrolltop'

import CAside from '@/components/c-aside'
import CHeader from '@/components/c-header'
import CFooter from '@/components/c-footer'
import CAddTask from '@/components/c-add-task'

export default {
  components: {
    CAside,
    CHeader,
    CFooter,
    CAddTask,
    CScrollTop,
  },
  async setup() {
    const $store = useStore()

    await $store.dispatch('fetchProjects')
      .then(firstProject => {
        if (firstProject)
          $store.dispatch('project/fetchData', firstProject.id)
      })
    
    const isTaskOpen = computed(() => $store.getters['task/getVisible'])

    return {
      isTaskOpen
    }
  }
}

</script>

<style scoped lang="scss">
  @import '@/assets/scss/mixins.scss';

  .main {
    transition: .3s padding;

    &.is-task-open {
      
      @include screen('xl') {
        padding-left: 640px;
      }
      
    }
  }

  ::v-deep(.scroll-top) {
    background-color: $color--success;
  }

  .content {
    display: block;
    
    min-height: calc(100vh - 196px);

    padding-top: 32px;
    padding-bottom: 25px;
  }

</style>
